@import "variables"

@font-face
  font-family 'hicon'
  src url(icomoon-font-path + '/hicon.eot?tvr60u')
  src url(icomoon-font-path + '/hicon.eot?tvr60u#iefix') format('embedded-opentype'), url(icomoon-font-path + '/hicon.ttf?tvr60u') format('truetype'), url(icomoon-font-path + '/hicon.woff?tvr60u') format('woff'), url(icomoon-font-path + '/hicon.svg?tvr60u#hicon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'hicon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-reload
  &:before
    content icon-reload
.icon-close
  &:before
    content icon-close
.icon-blog
  &:before
    content icon-blog
.icon-dot
  &:before
    content icon-dot
.icon-linkedin
  &:before
    content icon-linkedin
.icon-mail
  &:before
    content icon-mail
.icon-twitter
  &:before
    content icon-twitter
.icon-story
  &:before
    content icon-story

