icomoon-font-path ?= "fonts"

icon-reload = "\e940"
icon-close = "\e924"
icon-blog = "\e900"
icon-dot = "\e901"
icon-linkedin = "\e902"
icon-mail = "\e921"
icon-twitter = "\e904"
icon-story = "\e905"

